body{
    margin: auto;
    width:1000px;
    font-family: Helvetica, Arial, Sans-Serif;
}
img{
    width: 90%;
}
ul{
    list-style-type: none;
}
li{
    width: 260px;
    margin: 20px;
    display: inline-block;
}
.contact{
	text-align: center;
	text-decoration: none;
	font-size: 150%;
	position: relative;
	left:-20px;
}
.contact a, .contact a:visited{
	text-decoration: none;
	color:#666;
}
